body {
    background-color: pink;
}

#pierwszy {
    background-color: blue;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
}

#drugi {
    background-color: aquamarine;
    width: 600px;
    height: 100px;
}
