body {
    background-color: pink;
}

#pierwszy {
    background-color: blue;
    width: 550px;
    height: 100px;

    position: ;
    top: 40px;
    left: 30px;
}

#drugi {
    background-color: aquamarine;

    top: 10px;
    width: 600px;
    height: 100px;
}

#trzeci {
    background-color: yellow;
    width: 150px;
    height: 150px;

    position: fixed;
    top: 190px;
}

#pierwszy-prim {
    background-color: yellow;
    margin: 5px;
}

#pierwszy-absolutny {
    background-color: violet;
    margin: 5px;
    bottom: 10px;
    left: 10px;
    top: 50px;
}
