p {
    color: blue;
}

#paragraf {
    color: fuchsia;
}

a,
span,
div {
    background-color: darkgray;
}

li > a {
    background-color: aquamarine;
}

ul a {
    background-color: blueviolet;
}

h1 ~ p {
    color: chartreuse;
}

ul#lista > li:not(.last) {
    background-color: darksalmon;
}

ul#lista > li:nth-child(3) {
    background-color: red;
}
